@import "tailwindcss";

@theme {
  /* Custom Color Palette - Your Brand Colors */
  --color-razza: #e21c70;
  --color-desire: #ea4040;
  --color-cerulean: #12447e;
  --color-persian: #0663aa;
  --color-electric: #0e92d2;
  --color-lavenda: #d5a7e7;
  --color-eriBlack: #1b0f22;
  --color-lilac: #905f9e;
  
}

@layer base {
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
    background-color: #fafafa;
    color: #1a1a1a;
  }
}
